<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/style.css">
  </head>
<body>

  <div class="container">

    <div class="title" align="center"> REGISTRATION PAGE </div>
    <div class="content">
    
        <form action="/register" method="POST">
        <div class="user-details">
        
          <div class="input-box">
          <span class="details">Full Name</span>
          <input required type="text" placeholder="Enter your name" name =" fullname">
          </div>
          <div class="input-box">
            <span class="details">Username</span>
            <input required type="text" placeholder="Enter your username" name = "username">
          </div>
          <div class="input-box">
            <span class="details">Email</span>
            <input required type="text" placeholder="Enter your email" name="email">
          </div>
          <div class="input-box">
            <span class="details">Phone Number</span>
            <input required type="text" placeholder="Enter your number" name="phoneno">
          </div>
          <div class="input-box">
            <span class="details">Password</span>
            <input required type="text" placeholder="Enter your password" name="password">
          </div>
          <div class="input-box">
            <span class="details">Confirm Password</span>
            <input required type="text" placeholder="Confirm your password" name="cpassword">
          </div>
        </div>
        <div class="btnRegister">
        <input  required type="submit" value="REGISTER"/>
        </div>
      </form>
    </div>
  </div>

</body>
</html>
