<!DOCTYPE html>
<html>
    <head>
        <title>registration successfull</title>
    </head>
    <body>
        <h1 align="center" color: red> YOUR REGISTRATION IS SUCCESSFULL</h1>
    </body>
</html>